@charset "utf-8";


/* 最下行追加フォーム */

.form-wrap {
    width: 93%;
    font-size: 12px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px auto;
    box-shadow: 2px 2px  rgba(0, 0, 0, 0.2);

}
  .form-wrap table {
    width: 100%;
    margin: 0 auto;
    margin-top: 5px;
    border-collapse: collapse;
    border: none;
    background: none;

  }

  .add-button {
    display: block;
    font-weight: bold;
    margin: 3px 5px 10px;
  }

  .add-table tr,
  .add-table th{
    font-weight: normal;


  }


  .add-table input{
    width: 95%;
    border-radius: 5px;
  }

/* 行内編集フォーム */
.edit-row,.add-row{
  background-color: #eee;
  width: 95%;
  height: 30px;
  margin: 0 auto;
  border-left: solid black 1px;
  border-right: solid black 1px;
}
  .form-list{
    display: flex;
    list-style: none;
    padding: 0;
  }

  .form-list li {
    width: 23%;
    margin-left: 12px;
  }
  .form-list li input[type="text"]{
    width: 100%;
  }


/*スクロールバーのデザイン*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #fff;
  border-left: solid 1px #ececec;
}
::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 10px;
  box-shadow: inset 0 0 0 2px #fff;
}

