@charset "utf-8";

/*初期設定
-----------------------------------*/
body {
	margin: 0;
	padding: 0; 
	color: #333;
	background: #fff;
}
p {
	line-height: 1.7;  /*行間の指定文字の大きさは変わらない*/
}

a:link {
	color: green;
}

a:visited {
	color: purple;
}

a:hover {
	color: yellow;
}


/*ページの枠組み
-----------------------------------*/
#page {
	margin: 0 auto;
	width: 800px; 
}


/*ナビゲーション(flex)
-----------------------------------*/
nav {
	margin-bottom: 8px;
}
nav ul,nav li {
	margin: 0;
	padding: 0;
}

nav ul {
	display: flex; /*横並び*/
	list-style: none; /*箇条書きの黒丸なし*/
	border: 1px solid #ccc; /*実線*/	
	justify-content: space-around; /*均等割り　親要素に指定*/
}

nav li {
	width: 16%; /*ボタン幅*/
	border-right: 1px solid #ccc; /*右だけ実線*/
}
nav li:nth-child(6) {
	border-right: none;  /*6番目のliの枠線なし*/
}

nav a { /*liではなく、aに当てることでボタン全体がリンクになる(ブロック化も必要)*/
	display: block; /*ブロック化　インライン要素はブロック化しないと高さを設定できない*/
	padding: 14px 0;
	text-align: center;
	text-decoration: none; /*リンク下線なし*/
	font-size: small;
	font-weight: bold;
}

nav a:link, nav a:visited {
	color: #36c; /*未訪問・訪問を同じ色に*/
}
nav a:hover {
	color: #0f0; /*マウスホバー時*/
}

/*メインコンテンツ
-----------------------------------*/
h2 {
	font-size: medium; 
	color: blue;
}

main ul {
	list-style-image: url(../images/marker-gray.png);
	color: green;
	}


/*フッター
-----------------------------------*/
footer {
	text-align: center;
}
